<div class="container">
<br>
<br>
<hr>
<br>
<br>
<p style="font-family: 'Cinzel', serif; font-size: 20px; text-align: left"><i class="far fa-copyright"></i> Brillante Piano Studio. </p>
<div class="center"><i id="icons" class="fab fa-instagram"></i>
<i id="icons" class="fab fa-facebook-square"></i></div>

<p style="font-family: 'Cinzel', serif; font-size: 20px; text-align: left; margin-top: 5%">Created by Kemmsies Web Development</p>

</div>

<br>
<br>
</body>
</html>