<!DOCTYPE html>
<html>
    <head>
        <title>Brilliante Piano</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    
    <body>
    <div class="container">    
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
        <i class="fas fa-music"></i>
        <ul class="navbar-nav ">
            <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About Camille</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/faqs">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tuition">Tuition</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/calender">Calendar</a>
    </li>
    
      <% if(currentUser) { %>
      <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
      <li>Signed in as Admin</li>
    </li>
    <% } %>
  </ul>
  <i class="fas fa-music"></i>
  </div>
  
  
 <br>
 <br>
 
 
    
