<% include partials/header %>

<p class="header" style="font-family: 'Srisakdi', cursive"><i class="fas fa-music">  </i> About Camille <i class="fas fa-music">  </i></p>
<br>
<p style="font-family: 'Cinzel', serif; font-size: 20px">Get to know your instructor!</p>
<div class="container">
<hr>
<br>
<center></a>
<img class="imggallery" src="https://i.ibb.co/yyHXThg/FB-IMG-1553548752607.jpg" alt="FB-IMG-1553548752607" border="0" >
<img class="imggallery" src="https://i.ibb.co/dLCn6gL/FB-IMG-1553548804315.jpg" alt="FB-IMG-1553548804315" border="0" >
<img class="imggallery" src="https://i.ibb.co/nMVWpHR/rsz-capture-2019-03-25-15-26-31.png" alt="rsz-capture-2019-03-25-15-26-31" border="0"></center>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 style="font-family: 'ZCOOL XiaoWei', serif; margin-top: 5%">Camille Jensen Weber</h2>
<br>
<br>
<ul>
    <li>Teaching since 2007</li>
    <li>Bachelor of Music degree in Piano Performance (Utah State University)</li>
    <li>Third place winner of UMTA State Concerto Competition, 2011</li>
    <li>Second place in three separate categories at USU Piano Festival, 2012 </li>
    <li>Soloist at the Cache Chamber Orchestra's concerto competition, 2011</li>
    <li>Soloist at Logan High School Concerto Evening, 2011 and 2012</li>
    <li>Graduate of Suzuki Piano Method, Master Level</li>
    <li>Winner of the National Federation of Music Junior Grand Cup</li>
    <li>Member of National Federation of Music Teachers</li>
</ul>
<br>
<br>
<p style="text-align: left">Link to 2012 Concerto Performance Video: <a href="https://www.youtube.com/watch?v=SWpQJFbDAjc">https://www.youtube.com/watch?v=SWpQJFbDAjc</a></p>
<p style="text-align: left">Link to 2018 College Graduation Solo Recital available upon request</p>
<br>
<br>
<p style="text-align: left">Personal Instructors: </p>
<p style="text-align: left">Nancy Jensen, Professor Betty Beecher (USU), Professor Gary Amano (USU), 
Jason Hardink (Utah Symphony Pianist)</p>
<p style="text-align: left">Line of teaching extends directly back to Franz Liszt, Carl Czerny and Beethoven</p>
<br>
<br>
<h2 style="font-family: 'ZCOOL XiaoWei', serif;">Contact Information</h2>
<p>camillerweber@gmail.com</p> 
<p>435-757-6530</p>
</div>

<% include partials/footer %>