<% include partials/header %>

<div class="container">
<h2>Admin Login</h2>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>
</div>