<% include partials/header %>

<p class="header" style="font-family: 'Srisakdi', cursive">Calendar</p>
<p style="font-family: 'Cinzel', serif; font-size: 20px">Important Dates for Students</p>
<div class="container">
    <% if(currentUser) { %>
        <a class="btn btn-success" href="/calender/new">Add New Calendar Event</a>
    <% } %>
<br>
<hr>
<br>
<br>
<div class="row text-center" style="display:flex; flex-wrap: wrap; ">
    <% dates.forEach(function(date){ %>
    <div class="col-md-3 col-sm-6">
        <br>
        <h3 style="font-family: 'ZCOOL XiaoWei', serif;"><%= date.date %></h3>
        <p><%= date.event %></p>
        <% if(currentUser) { %>
        <a class="btn btn-warning" href="/calender/<%= date._id %>/edit">Edit</a>
        <form action="/calender/<%= date._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
        </div>
    <% }); %>
        </div>
        
    </div>

<% include partials/footer %>