<% include partials/header %>

<div class="container">
    <h1>Edit Date <%= date.date %> </h1>
    <form action="/calender/<%= date._id %>?_method=PUT" method="POST">
        <input type="text" name="date[date]" value="<%= date.date %>">
        <input type="text" name="date[event]" value="<%= date.event %>">
        <input type="submit">
    </form>
</div>