<% include partials/header %>

<p class="header" style="font-family: 'Srisakdi', cursive">F.A.Qs</p>
<p style="font-family: 'Cinzel', serif; font-size: 20px">Frequently Asked Questions</p>
<div class="container">
<br>
<hr>
<br>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">What kind of piano do we need?</h3>
<br>
<p style="text-align: left">You need an acoustic piano (not an electric keyboard).
A good quality upright is acceptable for many students to 
begin with. An advanced student will need a grand piano. 
I am willing to help parents choose a quality piano.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">Should I attend my child's lessons?</h3>
<br>
<p style="text-align: left">I encourage parents to attend lessons occasionally in order 
to be effective practice coaches. Parents of young beginners should attend every week.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">How serious are you about daily practice?</h3>
<br>
<p style="text-align: left"><span style="font-style: italic;">Very serious!</span>  I expect parents to 
require their children to practice 5-7 days per week, 
to be excited cheerleaders and coaches, and to sign practice charts each week.</p>
<p>I have fun incentives to help with practicing: contests, achievement charts, stickers, candy bars and trophies. 
Ultimately, the music itself will become the greatest incentive and that has been the 
case with most of our high school students (although they'll still accept a candy bar!).</p>
<p>Practicing is necessary for success and I like to guarantee success, so a student 
who consistently under-practices is placed on a 3-month probation.  If the student
improves his practice routine in that time, he will be returned to good standing.  
If not, he needs a new situation outside my studio and I will recommend some other possibilities.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">How long should I expect a daily practice session to take?</h3>
<br>
<p style="text-align: left">Here are some guidelines, but individual practice will vary according to goals and abilities:</p>
<ul>
    <li>Young beginner: 10 minutes</li>
    <li>Elementary-age student: 30 minutes</li>
    <li>Middle-school student: 45 minutes</li>
    <li>High school student: 1 hour</li>
    <li>Advanced high school student (college-bound): 2 hours or more</li>
</ul>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">What if we have to miss a lesson?</h3>
<br>
<p style="text-align: left">I expect 24 hours notice, except in the case of illness or emergency.  
(Please don't come if you're sick!) <span style="font-style: italic;"> Without 24 hours notice, no make-up will be scheduled.</span></p>
<p style="text-align: left">There are no make-ups for missed group lessons.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">Do you teach lessons in the summer?</h3>
<br>
<p style="text-align: left">I do not require it, but I strongly encourage it, as 
summer can be one of the most enjoyable and effective times for a student to practice 
and grow. In addition, taking a 3-month break often makes it difficult to feel happy 
about starting again in the fall. I teach 11 months of the year, with a brief break 
in December and a month-long break in August.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">How often should we tune our piano?</h3>
<br>
<p style="text-align: left">Pianos should be tuned at least yearly, new pianos twice yearly. 
John Backels is our tuner who comes up from Salt Lake frequently.  His phone number is (801) 466-1235.  
Two good local tuner/technicians are LaMar Watts and Russell Sorenson.</p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">Do your students compete?</h3>
<br>
<p style="text-align: left">Piano competitions are good for some students, and too stressful for others. 
If a student wants to participate in a competition, I will help him or her prepare and enjoy the process.</p>

<p style="text-align: left">All of our students perform in the Federation Junior Festival, which is noncompetitive but 
which is judged and scored, and students earn Gold Cup Trophies in graduated sizes for their 
achievements over the years. </p>
<br>
<h3 style="font-family: 'ZCOOL XiaoWei', serif;">Do you teach students with learning challenges or special needs?</h3>
<br>
<p style="text-align: left">Yes! Every child deserves music lessons. 
Because of the significant whole-brain activity generated by music 
study and the resultant scientifically-measurable increase in IQ, 
piano lessons are actually a viable cognitive therapy for those with 
intellectual disabilities. Because of the significant boost to identity
and self-confidence, piano lessons also provide great social and 
emotional therapy, and help develop study skills and problem-solving 
skills. I have extensively studied psychology theories and atypical 
approaches to learning, and am always eager to research more.</p>


</div>

<% include partials/footer %>