<% include partials/header %> 

<div class="container">
  <center><img src="https://i.ibb.co/SJTM6KV/long-piano-painting-1024x1024-2x.jpg" alt="long-piano-painting-1024x1024-2x" border="0"></center>
  <p class="header" style="font-family: 'Srisakdi', cursive">Brillante Piano</p>
  <p style="font-family: 'Cinzel', serif; font-size: 20px">by Camille Weber, B.M.</p>
  <br>
  <hr>
  <br>
  <br>
  <br>
  <!--<div class="row">-->
    <!--<div class="col">-->
        <h2 style="font-family: 'ZCOOL XiaoWei', serif;">MOTTO</h2>
        <br>
        <p>I believe in teaching music in a way that lasts a lifetime.
Success in music brings confidence, fulfillment, and joy - a love for beauty and a love for work.
With the right ingredients, every student is able to make this discovery.</p>
        
    <!--<div class="col">-->
        <h2 style="font-family: 'ZCOOL XiaoWei', serif; margin-top: 7%">POLICIES</h2>
        <br>
        <p>I can guarantee success and enjoyment for any student if they
        are willing to practice 5 to 7 days a week, if they have the support
        of their family, and if they have or are working to get a well-maintained acoustic piano.</p>
        <br>
        <p>I encourage competency-based practicing (practice until the task is 
        completed and easy) rather than a certain number of minutes every day. 
        Parents are welcome to enforce time minimums on their children and discuss
        these with me if they find it effective.</p>
        <br>
        <p>Parents are encouraged to attend lessons if possible. If not possible, 
        please view and sign the students’ practice chart every week. Lessons
        of very young students, students with special needs, or “motivationally 
        challenged” students may require parental attendance.</p>
        <br>
        <p>I believe that performance builds confidence, marks progress, and celebrates 
        a student's hard work. We have periodic studio recitals, as well as participation
        in the National Federation of Music Clubs adjudication festivals annually. 
        (If your student has extreme performance anxiety, memory issues,
        learning disabilities, etc. that may interfere with their ability to 
        participate in recitals, please let me know! Piano lessons should be fun 
        and accessible for all students. Something can always be worked out.)</p>
        <p>I am familiar with a wide range of piano methods, and will select one that 
        fits each students' prior ability, learning style, and personality. I love 
        to teach the classics, but believe in exposure to as many styles of music as possible.</p>
        <p>My personality is frank, open, and friendly. As we get to know each other, 
        I want students be honest with me in regards to their progress, their interests, 
        their difficulties, and their goals. Teaching, to me, is all about trust, 
        and I do believe in being friends with my students!</p>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--  </div>-->
</div>

<% include partials/footer %>