<% include partials/header %>
    
    <div id="landing-header">
        
 		<h1>Brilliante Piano</h1>
		<!--<a href="/campgrounds" class="btn btn-lg btn-primary">Click to View More!</a>-->
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

