<% include partials/header %>

<center>
<h1>Add Date/Event</h1>
<div class="container">
    <form action="/calender" method="POST">
        <div class="form-group">
        <input class="form-control" type="text" name="date[date]" placeholder="Date"></div>
        <div class="form-group">
        <input class="form-control" type="text" name="date[event]" placeholder="Event"></div>
        <div class="form-group">
        <input type="submit"></div>
        </div>
    </form>
    </div>
    </center>
