<% include partials/header %>

<div class="container">
    <h1>Add New FAQ</h1>
    <form action="/faqs" method="POST">
        <input type="text" name="faq[question]" placeholder="Questions">
        <input type="text" name="faq[answer]" placeholder="Answer">
        <input type="submit">
    </form>
</div>