<% include partials/header %>

<div class="container">
<h1>Admin sign up</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
</form>
</div>