<% include partials/header %>

<p class="header" style="font-family: 'Srisakdi', cursive">Tuition</p>
<div class="container">
<br>
<hr>
<br>
<p>For 30-minute lessons:</p>
<p>$585 for the school year, payable in $65 monthly payments
$100 for 6-8 summer lessons</p>

<p>For 45-minute lessons:</p>
<p>$720 for the school year, payable in $80 monthly payments
$135 for 6-8 summer lessons</p>
<br>
<p>
The monthly payment does not vary even if the number of 
lessons does. Billing and payments can be handled through 
venmo, check, or cash. There is an annual registration fee 
of $20 per student (to help pay for music lending, materials,
incentives, recitals, trophies, parties, etc.)</p>

</div>

<% include partials/footer %>