p {
    font-size: 22px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

.imggallery {
    width: 30%;
    float: left;
    margin: 1.66%;
}

/*h3 {*/
/*    text-align: center;*/
/*}*/

li {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

#icons {
    font-size: 48px;
}

.center{
text-align: center;
}

.left {
    text-align: left;
}

.header {
    font-size: 80px;
}

.center {
    text-align: center;
}
